<div class="ui raised very padded text container segment">
  <%= link_to "Atras", :controller=>"/show_reports", :action=>"index" %>
    <h2 class="ui header">Reporte de resumen de ingresos</h2>
    <div class="ui form">
        <form class="show_income_summary" id="show_income_summary" action="/income_summary" method="get">

            <div class="field">
                <label for="">Fecha Incial</label><br />
                <input type="date" id="fecha_inicial" name="fecha_inicial">
            </div>

            <div class="field">
                <label for="">Fecha Final</label><br />
                <input type="date" id="fecha_final" name="fecha_final">
            </div>

            <div class="actions">
                <button type="submit" form="show_income_summary" value="Generar" class="ui primary button">Generar</button>
            </div>

        </form>
    </div>
</div>

<%= javascript_include_tag "validate/reports/income_summary" %>
