<nav>
    <div class="name">
        Logo
    </div>
    <ul>
        <li>
            <span>Opcion 1</span>
            <ul>
                <li>
                    <a href="">Opcion 1.1</a>
                </li>
                <li>
                    <a href="">Opcion 1.2</a>
                </li>
                <li>
                    <a href="">Opcion 1.3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Opcion 2</a>
        </li>
        <% if can? :manage, Resource %>
            <li>
                <span>Opcion 3</span>
                <ul>
                    <li>
                        <a href="">Opcion 3.1</a>
                    </li>
                    <li>
                        <a href="">Opcion 3.2</a>
                    </li>
                </ul>
            </li>
        <% end %>
        <li>
            <a href="">Opcion 4</a>
        </li>
         <% if can? :manage, Resource %>
            <li>
                <%= link_to "Gestionar Usuarios", show_users_registration_path, method: :get %>
            </li>
        <% end %>
        <li>
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
        </li>
    </ul>
</nav>