<div class="ui raised very padded text container segment">
  <%= link_to "Atras", :controller=>"/show_reports", :action=>"index" %>
    <h2 class="ui header">Reporte de recursos por reforestación</h2>
    <div class="ui form">
        <form class="show_resources_reforestation" id="show_resources_reforestation" action="/resources_reforestation" method="get">

            <div class="field">
                <label for="">Reforestación</label><br />
            <select id=id_reforestacion name=id_reforestacion>
                 <% @activities.each do |activity| %>
              <option value=<%= activity.id %>><%= 'Reforestación: ' + activity.id.to_s + ', Fecha: ' + activity.fecha_inicio.to_s + ', Zona: ' + activity.nombre.to_s %></option>
            <% end %>
            </select>
            </div>

            <div class="actions">
                <button type="submit" form="show_resources_reforestation" value="Generar" class="ui primary button">Generar</button>
            </div>

        </form>
    </div>
</div>
