<div class="ui raised very padded text container segment">
    <h2 class="ui header">Reporte de resumen de ingresos</h2>
    <div class="ui form">
        <form class="show_resources_reforestation" id="show_resources_reforestation" action="/resources_reforestation" method="get">

            <div class="field">
                <label for="">Reforestación</label><br />
                  <select id='id_reforestacion' name ='id_reforestacion'>
                 <%= options_from_collection_for_select(Activity.all, :id, :fecha_inicio)%>
            </select>
            </div>

            <div class="actions">
                <button type="submit" form="show_resources_reforestation" value="Generar" class="ui primary button">Generar</button>
            </div>

        </form>
    </div>
</div>

